<!-- Footer -->
<footer class="fixed-bottom" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Jesse Huang</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a data-toggle="tooltip" title="Github"
                            href="https://github.com/Skouriskaze">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a data-toggle="tooltip" title="Devpost"
                            href="https://devpost.com/Jhuang347">
                            <i class="fa fa-file-text"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a data-toggle="tooltip" title="Email"
                            href="mailto:jhuang347@gatech.edu">
                            <i class="fa fa-at"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a data-toggle="tooltip" title="Resume"
                            href="https://www.dropbox.com/s/msh7e36b7t0zxz9/Jesse%20Huang%20Job%20Resu.pdf?dl=1">
                            <i class="fa fa-cloud-download"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
