<!DOCTYPE html>
<html lang="en">

    <head>
        <% include ../partials/head %>
        <title>Jesse Huang</title>
    </head>

    <body id="page-top">
        <% include ../partials/header %>

        <!-- Header -->
        <header class="masthead">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in">I'm Jesse Huang!</div>
                    <div class="intro-heading">Nice to meet you.</div>
                    <a class="btn btn-xl js-scroll-trigger" href="#about">About Me</a>
                </div>
            </div>
        </header>

        <!-- Services -->
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">About</h2>
                        <h3 class="section-subheading text-muted">Who am I as a person?</h3>
                    </div>
                </div>
                <div class="row text-left">
                    <div class="col-md-4">
                        <img class="img-fluid" src="/img/about/gt.png" alt="">
                    </div>
                    <div class="col-md-8">
                        I'm a third year at the Georgia Institute of Technology studying
                        Computer Science. My threads are Theory and Intelligence. In the
                        Theory thread, we look to design and analyze algorithms, as well
                        as develop a strong foundation in varying fields of mathematics.
                        Some courses include graph theory, combinatorics, linear algebra,
                        algorithms, and automata. Artificial Intelligence, on the other
                        hand, focuses on allowing computers to act smarter. Some courses
                        include machine learning, natural language processing, and robots
                        and perception. Alongside studying these things, one of my hobbies
                        is to learn anything that interests me. These topics range from
                        mobile development to reinforcement learning and hackathons to
                        coding competitions.
                    </div>
                </div>
                <br />
                <div class="row text-right">
                    <div class="col-md-8">
                        Outside of computer science, I pick up whatever will cure my boredom.
                        I've picked up speedsolving Rubik's cubes, cord braiding,
                        photography, guitar, and reading to name a few. I grew up playing
                        tennis, but I also love to play Ultimate Frisbee with whoever
                        wants to play with me. I balance my life, keep myself
                        well-rounded, and remain open-minded towards new ideas. <br />
                        I also find that changing things up once in a while keeps life
                        fresh. Whether it be something small like moving the icons on my
                        phone, or something big like moving everything around in my room,
                        or learning Vim or LaTeX to change up my workflow, it always keeps
                        me alert.
                    </div>
                    <div class="col-md-4">
                        <img class="img-fluid" src="/img/about/windsurfing.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>

        <!-- About -->
        <section id="education">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Education & Work</h2>
                        <h3 class="section-subheading text-muted">What have I learned?</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="timeline">
                            <li>
                                <div class="timeline-image">
                                    <img class="rounded-circle img-fluid"
                                    src="/img/logos/GT.png" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>2015 - Present</h4>
                                        <h4 class="subheading">Georgia Institute of
                                            Technology</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">I currently attend the
                                        Georgia Institute of Technology. I major in
                                        Computer Science and my threads are
                                        Theory and Intelligence. I plan to graduate in
                                        May 2018.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="rounded-circle img-fluid"
                                    src="/img/logos/research.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h6>Summer 2017</h4>
                                        <h4 class="subheading">Department of Defense,
                                            Research</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">I implemented and tested a
                                        loss function proposed in the paper Discriminative
                                        Feature Learning Approach for Deep Face
                                        Recognition. I worked with MNIST, CIFAR-10, and
                                        Imagenet datasets, and the VGG-16 and Facenet deep
                                        neural networks. I worked with Tensorflow in Python.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-image">
                                    <img class="rounded-circle img-fluid"
                                    src="/img/logos/ia.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h3>Summer 2016</h4>
                                        <h4 class="subheading">Department of Defense,
                                            Information Assurance</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Basic Exploit Development:
                                        studied methods of exploitation for x86, C#.
                                        Backdoor development: updated and added
                                        TCP/IP functionality with C.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <h4>Are
                                        <br>You
                                        <br>Next?</h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Portfolio Grid -->
        <section class="bg-light" id="projects">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Projects</h2>
                        <h3 class="section-subheading text-muted">What have I done?</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#projlabyrinth">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="/img/portfolio/labyrinthgroup.jpg" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Labyrinth</h4>
                            <p class="text-muted">Swamphacks 2016</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#projcube">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="/img/portfolio/2x2cube.jpg" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>2x2 Solver</h4>
                            <p class="text-muted">GT Appathon 2015</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a class="portfolio-link" data-toggle="modal"
                            href="#projthebot">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="/img/portfolio/thebot.png" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>The Bot</h4>
                            <p class="text-muted">Bloomberg CodeB</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#projmom">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="/img/portfolio/04-thumbnail.jpg" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Masters of Midtown</h4>
                            <p class="text-muted">Objects & Design</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a class="portfolio-link" data-toggle="modal"
                            href="#projbytefighter">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="/img/portfolio/bytefighterhome" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Byte Fighter</h4>
                            <p class="text-muted">Computer Organization</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#projwebsite">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="/img/portfolio/psite.png" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Personal Website</h4>
                            <p class="text-muted">Personal project</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Team -->
        <section class="bg-light" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Contact & Others</h2>
                        <h3 class="section-subheading text-muted">How can you reach me?</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="/img/team/2.jpg" alt="">
                            <h4>Jesse Huang  <br /> jhuang347@gatech.edu</h4>
                            <ul class="list-unstyled">
                                <li class="">
                                    <i class="fa fa-github"></i>
                                    <a href="https://github.com/Skouriskaze">
                                        Github
                                    </a>
                                </li>
                                <li class="">
                                    <i class="fa fa-file-text"></i>
                                    <a href="https://devpost.com/Jhuang347">
                                        Devpost
                                    </a>
                                </li>
                                <li class="">
                                    <i class="fa fa-at"></i>
                                    <a
                                        href="mailto:jhuang347@gatech.edu">
                                        Email
                                    </a>
                                </li>
                                <li class="">
                                    <i class="fa fa-cloud-download"></i>
                                    <a
                                        href="https://www.dropbox.com/s/msh7e36b7t0zxz9/Jesse%20Huang%20Job%20Resume.pdf?dl=1">
                                        Resume
                                    </a>
                                </li>
                                <li class="">
                                    <i class="fa fa-mobile"></i>
                                    (813)297-3796
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
            </div>
        </section>


        <!-- Footer -->
        <% include ../partials/footer %>

        <!-- Portfolio Modals -->

        <!-- Modal 1 -->
        <div class="portfolio-modal modal fade" id="projlabyrinth" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2>Labyrinth</h2>
                                    <p class="item-intro text-muted">A survival game</p>
                                    <img class="img-fluid d-block mx-auto"
                                    src="/img/portfolio/labyrinth.jpg" alt="Labyrinth">
                                    <p>Labyrinth is a local multiplayer survival game developed
                                    in Unity with C#. Players can play as either monsters
                                    or humans. The humans attempt to flee from the
                                    monsters, who have unique superpowers. If they can
                                    escape the monsters' clutches long enough, the humans
                                    are victorious.</p>
                                    <ul class="list-inline">
                                        <li>Hackathon: Swamphacks 2016</li>
                                        <li><a
                                        href="https://devpost.com/software/labyrinth-dsp56c">
                                                Devpost
                                            </a></li>
                                        <li><a
                                        href="https://github.com/jiangshen/Labyrinth">
                                                Github
                                            </a></li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fa fa-times"></i>
                                        Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 2 -->
        <div class="portfolio-modal modal fade" id="projcube" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2>2x2 Rubik's Cube Solver</h2>
                                    <p class="item-intro text-muted">An intelligent app</p>
                                    <img class="img-fluid d-block mx-auto"
                                    src="/img/portfolio/cubescreenshot.png" alt="">
                                    <p>This Android app took pictures of a 2x2 Rubik's
                                    Cube and output a solution using the <a
                                        href="http://www.cubewhiz.com/ortega.php"
                                        target="_blank">
                                    Ortega Method</a> of solving the cube. It was my first
                                    hackathon and my first Android application. I worked
                                    with a team of two others, and I was in charge of all
                                    the logic behind the algorithm to solve the cube. This
                                    won the Grand Prize of the GT 2015 Appathon.</p>
                                    <ul class="list-inline">
                                        <li>Hackathon: GT Appathon 2015</li>
                                        <li><a
                                        href="https://github.com/jiangshen/Rubik-sCube2x2Solver">
                                                Github
                                            </a></li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fa fa-times"></i>
                                        Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 3 -->
        <div class="portfolio-modal modal fade" id="projthebot" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2>The Bot</h2>
                                    <p class="item-intro text-muted">Stock Trading Bot</p>
                                    <img class="img-fluid d-block mx-auto"
                                    src="/img/portfolio/thebot.png" alt="The Bot">
                                    <p>This trading bot in a virtual stock market would
                                    trade with other bots to compete to earn the most
                                    money. Money could be earned by either selling stocks
                                    on earning dividends on currently owned stocks. This
                                    bot won first place in 2016. </p>
                                    <ul class="list-inline">
                                        <li>Bloomberg CodeB</li>
                                        <li><a
                                        href="https://github.com/jiangshen/BotAlwaysWins">
                                                Github
                                            </a></li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fa fa-times"></i>
                                        Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 4 -->
        <div class="portfolio-modal modal fade" id="projmom" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2>Masters of Midwotn</h2>
                                    <p class="item-intro text-muted">A Movie Suggestion
                                    App</p>
                                    <img class="img-fluid d-block mx-auto" src="/img/portfolio/04-full.jpg" alt="">
                                    <p>This project was a semester-long project for an
                                    objects and design class. I was the main developer of
                                    a group of five. This app would take information from
                                    the user such as major or year, and give movie
                                    suggestions based on similar users. A list of movies
                                    was taken from the Rotten Tomatoes API, but a separate
                                    Firebase database held major-specific ratings as well
                                    as registered users. Since this project was a
                                    semester-logn project, it was developed in
                                    accordance with Agile development.</p>
                                    <ul class="list-inline">
                                        <li>Class: CS 2340 Objects and Design, 2016</li>
                                        <li><a
                                        href="https://github.com/Skouriskaze/MoM">
                                                Github
                                            </a></li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fa fa-times"></i>
                                        Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 5 -->
        <div class="portfolio-modal modal fade" id="projbytefighter" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2>Byte Fighter</h2>
                                    <p class="item-intro text-muted">A spaceship game</p>
                                    <img class="img-fluid d-block mx-auto"
                                    src="/img/portfolio/bytefighterscreenshot.png" alt="">
                                    <p>This project was a Gameboy Game made for a computer
                                    organization class. It was written in C. Each
                                    spaceship could shoot two different types of
                                    projectiles, shield itself, and move in two
                                    dimensions. The first ship to be hit five times lost.</p>
                                    <ul class="list-inline">
                                        <li>Class: CS 2110 Computer Organization, 2016</li>
                                        <li><a
                                        href="https://github.com/Skouriskaze/bytefighter">
                                                Github
                                            </a></li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fa fa-times"></i>
                                        Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 6 -->
        <div class="portfolio-modal modal fade" id="projwebsite" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2>Personal Website</h2>
                                    <p class="item-intro text-muted">You're here!</p>
                                    <img class="img-fluid d-block mx-auto"
                                    src="/img/portfolio/psite.png" alt="Personal Website">
                                    <p>This website was made for a variety of reasons. The
                                    most prominent reason is to have a medium to express
                                    myself to those who do not know me. But more than
                                    that, it allowed me to touch on web development, an
                                    area that I had no experience in before. I browsed
                                    through different technologies and services that could
                                    help me, and I found that I wanted to try to use
                                    Node.js along side Bootstrap. I also use Amazon Web
                                    Services to host my website, and a .tech domain.</p>
                                    <ul class="list-inline">
                                        <li>Personal Project: 2017</li>
                                        <li><a
                                        href="https://github.com/Skouriskaze/psite">
                                                Github
                                            </a></li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fa fa-times"></i>
                                        Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="/js/jquery.easing.min.js"></script>

        <!-- Contact form JavaScript -->
        <script src="/js/jqBootstrapValidation.js"></script>
        <script src="/js/contact_me.js"></script>

        <!-- Custom scripts for this template -->
        <script src="/js/agency.js"></script>

    </body>

</html>
